<div class="load" *ngIf="!PageLoaded"></div>
<div id="content">
    <form [formGroup]="EditForm" (ngSubmit)="submit()" *ngIf="PageLoaded">
        <mat-form-field class="input">
            <mat-label>Imię</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Nazwisko</mat-label>
            <input formControlName="surename" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Stanowisko</mat-label>
            <input formControlName="jobTitle" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Numer wewnętrzny</mat-label>
            <input type="number" formControlName="workPhoneNumber" matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="input">
            <mat-label>Oddział</mat-label>
            <mat-select formControlName="factory" (selectionChange)="getDepartmentsList()">
                <mat-option *ngFor="let element of this.SelectFactory" value="{{element.id}}"> {{element.city}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="input">
            <mat-label>Dział</mat-label>
            <mat-select formControlName="departmentId">
                <mat-option *ngFor="let element of this.DepartmentsSelect" value={{element.id}}> {{element.shortName}} - {{element.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <div id="controls">
            <button mat-raised-button type="submit">Zapisz</button>
        </div>

        
    </form>
</div>
