
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<div id="sidebar" *ngIf="checkIfLoggedIn()">

    <div class="link-wraper">
        <a routerLink="/dashboard" routerLinkActive="selected" class="menu-item"> <img src="/assets/employee.png" class="menu-icon"> Pracownicy</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/tickets"  routerLinkActive="selected" class="menu-item"> <img src="/assets/support-ticket.png" class="menu-icon"> Zgłoszenia</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/printers"  routerLinkActive="selected" class="menu-item"> <img src="/assets/printer.png" class="menu-icon"> Drukarki</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/computers"  routerLinkActive="selected" class="menu-item"> <img src="/assets/computer.png" class="menu-icon"> Komputery</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/software"  routerLinkActive="selected" class="menu-item"> <img src="/assets/software.png" class="menu-icon"> Programy</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/inventory" routerLinkActive="selected" class="menu-item"> <img src="/assets/inventory.png" class="menu-icon"> Inwentarz</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/invoices" routerLinkActive="selected" class="menu-item"> <img src="/assets/invoice.png" class="menu-icon"> Faktury </a>
    </div>

    <div class="link-wraper">
        <a routerLink="/documents" routerLinkActive="selected" class="menu-item"> <img src="/assets/documentation.png" class="menu-icon"> Dokumenty</a>
    </div>

</div>