  table{
   width: 100%;
  }
  
  #tabs{
    height: 10vh;
  }

  #tabs button{
    margin-top: 7vh;
    margin-left: 1vw;
  }

  .mat-row {
    cursor: pointer;
  }
  
  .mat-row:hover{
    transition: ease-in 0.1s;
    background-color: rgb(220, 236, 241);
  }

  #search-input{
    margin-left: 35px;
  }

  .mat-button, .mat-raised-button{
    background-color:#f8f9fa;
}

#test2{
  margin-top: 5vh;
  margin-left: 2vw; 
}
