<div class="page-table">

    <div id="tabs">

      <mat-form-field id="test2">
        <mat-label>Wybierz oddział</mat-label>
        <mat-select>
          <mat-option value="option1">Wszystkie</mat-option>
          <mat-option value="option1">Bydgoszcz</mat-option>
          <mat-option value="option2">Kruszyn</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <table mat-table [dataSource]="this.data">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="shortName">
        <th mat-header-cell *matHeaderCellDef> Skrót </th>
        <td mat-cell *matCellDef="let element"> {{element.shortName}} </td>
      </ng-container>

      <ng-container matColumnDef="invoiceCode">
        <th mat-header-cell *matHeaderCellDef> Jednostka Organizacyjna </th>
        <td mat-cell *matCellDef="let element"> {{element.invoiceCode}} </td>
      </ng-container>

      <ng-container matColumnDef="factoryLocation">
        <th mat-header-cell *matHeaderCellDef> Lokalizacja </th>
        <td mat-cell *matCellDef="let element"> {{element.factoryLocation}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opcje </th>
        <td mat-cell *matCellDef="let element">
          <button class="option-button" id="edit-button" (click)="openEditWindow(element.id)"><span><img id="edit-button-icon" src="/assets/Options/edit.png"></span></button>
          <button class="option-button" id="delet-button" (click)="openDeletWindow(element.id)"><span><img id="delet-button-icon" src="/assets/Options/delete.png"></span></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>
<div class="bottom-space"></div>