<div id="content">
    <form [formGroup]="AddForm" (ngSubmit)="submit()">
        <mat-form-field class="input">
            <mat-label>Miasto</mat-label>
            <input formControlName="city" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Ulica</mat-label>
            <input formControlName="street" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Numer budynku</mat-label>
            <input type="number" formControlName="streetNumber" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="input">
            <mat-label>Kod pocztowy</mat-label>
            <input formControlName="postalCode" matInput>
        </mat-form-field>
        <br>

        <button mat-raised-button type="submit">Zapisz</button>
        
    </form>
</div>

