<div id="search-bar">
    <form [formGroup]="searchForm" id="search-form" (submit)="applyFilter()">
      <input id="search" formControlName="search" placeholder="Wyszukaj" autocomplete="off">
      <button class="btn-blue-round btn-search" type="submit">Wyszukaj</button>
    </form>

    <form [formGroup]="form" (submit)="filterData()">
        <span id="title">Filtry: </span>
        <select class="select-input" formControlName="cpu">
          <option [ngValue]="''">Wszystkie</option>
            <option [ngValue]="'Intel i3'">Intel i3</option>
            <option [ngValue]="'Intel i5'">Intel i5</option>
            <option [ngValue]="'Intel i7'">Intel i7</option>
            <option [ngValue]="'Intel'">Intel</option>
            <option [ngValue]="'AMD'">AMD</option>
        </select>

        <select class="select-input" formControlName="ram">
            <option [ngValue]="'all'">Wszystkie</option>
            <option [ngValue]="4">4GB</option>
            <option [ngValue]="8">8GB</option>
            <option [ngValue]="16">16GB</option>
            <option [ngValue]="32">32GB</option>
        </select>

        <select class="select-input" formControlName="os">
          <option [ngValue]="''">Wszystkie</option>
          <option [ngValue]="'Windows 7'">Windows 7</option>
          <option [ngValue]="'Windows 10'">Windows 10</option>
          <option [ngValue]="'Windows 11'">Windows 11</option>
      </select>

        <button class="btn-blue-round btn-search" type="submit">Filtruj</button>
    </form>
</div>
<div id="reset" *ngIf="show">
  <p id="reset-text" (click)="resetFilter()"><i>Zresetuj wyszukiwanie</i></p>
</div>
  <table mat-table [dataSource]="this.data" *ngIf="PageLoaded">
  
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="person">
        <th mat-header-cell *matHeaderCellDef> Pracownik </th>
        <td mat-cell *matCellDef="let element"> {{element.person}} </td>
      </ng-container>

      <ng-container matColumnDef="processorName">
        <th mat-header-cell *matHeaderCellDef> Procesor </th>
        <td mat-cell *matCellDef="let element"> {{element.processorName}} </td>
      </ng-container>

      <ng-container matColumnDef="graphicsCardName">
        <th mat-header-cell *matHeaderCellDef> Karta Graficzna </th>
        <td mat-cell *matCellDef="let element"> {{element.graphicsCardName}} </td>
      </ng-container>

      <ng-container matColumnDef="ram">
        <th mat-header-cell *matHeaderCellDef> RAM </th>
        <td mat-cell *matCellDef="let element"> {{element.ramCapacity}} GB </td>
      </ng-container>

      <ng-container matColumnDef="osName">
        <th mat-header-cell *matHeaderCellDef> System </th>
        <td mat-cell *matCellDef="let element"> {{element.osName}} GB </td>
      </ng-container>

      <ng-container matColumnDef="yearOfPurches">
        <th mat-header-cell *matHeaderCellDef> Rok zakupu </th>
        <td mat-cell *matCellDef="let element"> {{element.yearOfPurches}}</td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;let element" routerLink="/computers/{{row.id}}"></tr>
    </table>
  
    <mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page">
    </mat-paginator>

    <div class="load" *ngIf="!PageLoaded"></div>