table{
    width: 100%;
   }

   .mat-row {
    cursor: pointer;
  }
  
  .mat-row:hover{
    transition: ease-in 0.1s;
    background-color: rgb(220, 236, 241);
  }
   
   #tabs{
     height: 10vh;
   }

   .green{
    background-color: #b9fbc0;
   }


#search-bar{

  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

#reset{
  justify-content: center;
  display: flex;

}

#reset-text{
  font-size: small;
  color: grey;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

button{
  cursor: pointer;
}

.select-input{
  margin-left: 10px;
  width: 150px;
  height: 35px;
  text-align: center;
  border-radius: 16px;
  font-family: Bahnschrift;
  font-size: medium;
}

#title{
  font-family: Bahnschrift;
  font-size: large;
  margin-left: 1vw;
}

#search-form{
  display: flex;
  margin-left: 50px;
  margin-right: 150px;
}


.inputs-mat{
  margin-left: 1vw;
}

.mat-raised-button{
  background-color:#f8f9fa;
  height: 4vh;
}

.red{
  color: #e63946;
}

.pc-department{
  color: darkgoldenrod;
}