<div class="content">
    <div id="left-box">
        <div class="page-table">
            <div id="employee-info-header">Informacje Presonalne</div>
            <table>
                <tr class="row-info">
                    <td class="info-lable">Imię</td>
                    <td class="info">{{this.employee.name}}  {{this.employee.surname}}</td>
                </tr>
        
                <tr class="row-info">
                    <td class="info-lable">Stanowisko</td>
                    <td class="info">{{this.employee.jobTitle}}</td>
                </tr>

                <tr class="row-info" >
                    <td class="info-lable">Dział</td>
                    <td class="info"> {{this.employee.departmentName}} </td>
                </tr>
        
                <tr class="row-info" >
                    <td class="info-lable">Miejsce Pracy</td>
                    <td class="info"> {{this.employee.factoryLocation}} </td>
                </tr>
                <tr class="row-info">
                    <td class="info-lable">Email</td>
                    <td class="info">{{this.employee.email}}</td>
                </tr>
        
                <tr class="row-info last">
                    <td class="info-lable">Numer wewnętrzny</td>
                    <td class="info">{{this.employee.workPhoneNumber}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="right-box">
        <div class="page-table" id="chart">
            <canvas id="myChart" height="264" width="1300"></canvas>
        </div>
    </div>
</div>
