<div class="content">
    <div id="left-box">
        <div class="page-table">
            <div id="employee-info-header" class="info-header">Informacje Presonalne</div>
            <table>
                <tr class="row-info">
                    <td class="info-lable">Imię</td>
                    <td class="info">{{this.employee.name}}  {{this.employee.surname}}</td>
                </tr>
        
                <tr class="row-info">
                    <td class="info-lable">Stanowisko</td>
                    <td class="info">{{this.employee.jobTitle}}</td>
                </tr>

                <tr class="row-info" >
                    <td class="info-lable">Dział</td>
                    <td class="info"> {{this.employee.departmentName}} </td>
                </tr>
        
                <tr class="row-info" >
                    <td class="info-lable">Miejsce Pracy</td>
                    <td class="info"> {{this.employee.factoryLocation}} </td>
                </tr>
                <tr class="row-info">
                    <td class="info-lable">Email</td>
                    <td class="info">{{this.employee.email}}</td>
                </tr>
        
                <tr class="row-info last">
                    <td class="info-lable">Numer wewnętrzny</td>
                    <td class="info">{{this.employee.workPhoneNumber}}</td>
                </tr>
            </table>
        </div>
        <div class="page-table">
            <div id="computer-info-header" class="info-header">Przypisany komputer</div>
            <table>
                <tr class="row-info">
                    <td class="info-lable">Nazwa</td>
                    <td class="info">TEST-001</td>
                </tr>
                <tr class="row-info last">
                    <td class="info-lable">Status</td>
                    <td class="info">Offline</td>
                </tr>
            </table>
        </div>

        <div class="page-table">
            <div id="permission-info-header" class="info-header">Dostepy?</div>
            <table>
                <tr class="row-info perm">
                    <td class="info-lable">Programy</td>
                    <td class="info">
                        <div class="permission-buttons">
                            <button mat-raised-button class="show-button" (click)="openSoftwareWindow()">Pokaż szczegóły <mat-icon>search</mat-icon></button>
                        </div>
                    </td>
                </tr>

                <tr class="row-info perm">
                    <td class="info-lable">Uprawnienia</td>
                    <td class="info">                        
                        <div class="permission-buttons">
                            <button mat-raised-button class="show-button" (click)="test()">Pokaż szczegóły <mat-icon>search</mat-icon></button>
                        </div>
                </td>
                </tr>

                <tr class="row-info last perm">
                    <td class="info-lable">Dostępy do zasobów</td>
                    <td class="info"> 
                        <div class="permission-buttons">
                            <button mat-raised-button class="show-button">Pokaż szczegóły <mat-icon>search</mat-icon></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div id="right-box">
        <div class="page-table" id="chart">
            <canvas id="myChart" height="264" width="1300"></canvas>
        </div>

        <div id="right-bottom">
            <div id="tickets" class="page-table"></div>
            <div id="middle-panel">
                <app-tickets id="tick" [id]="this.employee.id.toString()" [type]="1"></app-tickets>
                <div id="controls" class="page-table">
                    <div class="wraper">
                        <button mat-raised-button class="show-button" (click)="openEditWindow()">Edytuj pracownika <mat-icon class="icon">edit</mat-icon></button>  
                    </div>
                    <div class="wraper">
                        <button mat-raised-button class="show-button">Zmień hasło <mat-icon class="icon">refresh</mat-icon></button>  
                    </div>
                    <div class="wraper">
                        <button mat-raised-button class="show-button">Wyłącz konto<mat-icon class="icon">lock</mat-icon></button>  
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
