.content{
    display: flex;
}

#left-box{
    display: block;
    width: 25vw;
}



.row-info{
    height: 4vh;
    width: 25vw;

    line-height: 4vh;
    border-bottom: 1px solid #dee2e6;
    font-size: 1.1em;

    display: flex;
}

.info{
    color: black;
    width: 100%;
}

.info-lable{
    width: 60%;
    margin-left: 15px;
    color: gray;
    
}

.last{
    border: none;
}

#employee-info-header{
    text-align: center;
    line-height: 4vh;
    width: 100%;
    height: 4vh;
    background-color: #0077b6;

    font-size: 1.6em;
    color: white;
}

#right-box{
    margin-left: 2vw;
}

#chart{
    width: 60vw;
    height: 29vh;
}

.info-header{
    text-align: center;
    line-height: 4vh;
    width: 100%;
    height: 4vh;
    background-color: #0077b6;

    font-size: 1.6em;
    color: white;
}

#computer-info-header{
    margin-top: 2vh;
}

#permission-info-header{
    margin-top: 2vh;
}

.permission-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.perm{
    height: 5vh;
}

.show-button{
    background-color: #f8f9fa;
    min-width: 9vw;
}

.right-bottom{
    width: 100%;
    display: flex;
}

#controls{
    margin-top: 4vh;
    width: 10vw;
    height: 60vh;
    float: right;
}

.wraper{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.icon{
    margin-left: 0.2vw;
}