<div class="content">


  <div id="info-table">
    <mat-tab-group>

      <mat-tab label="Pracownicy">
        <ng-template matTabContent>
          <div class="page-background">
            <app-employee></app-employee>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Fabryki"> 
        <div class="page-background">
          <app-factory></app-factory>
        </div>  
      </mat-tab>

      <mat-tab label="Działy">
        <ng-template matTabContent>
          <div class="page-background">
            <app-department></app-department>
          </div>  
        </ng-template>
       </mat-tab>

    </mat-tab-group>

  </div>

</div>